.product-page{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4em;
    align-items: center;
}

.products-title {
    font-size: 2rem;
    text-align: center;
  }
  