.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  