.brand {
    position: relative;
    display: flex;
    width: 10em;
    height: 6em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    & img {
        max-width: 85%;
        max-height: 85%;
        object-fit: cover;
    }
}